#carousel{
	background-color: #404040;
}
html,body{
   height:100%;
}
.carousel,.item,.active{
   height:100%;
 }
.carousel-inner{
    height:100%;
}
#logo{
	position: absolute;
    margin:auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.carousel-control-prev-icon,.carousel-control-next-icon{
	height: 20%;
	width: 20%;
}
#d_letter{
	background-color: #0099ff;
}
#e_letter{
	background-color: #007acc;
	
}
#k_letter{
	background-color: #003d99;
	
}
#first{
	height: 50%;
}
#second{
	height: 50%;
}
.deko{
	text-align: center;
	vertical-align: middle;
	font-size: 200px;
}
#third{
	background-image: url('../images/wallpaper.png');
}
#panel{
	background-color: #0099ff;
	color: white;
	padding: 15px;
}
#bt_close{
	display:none;
}