{% extends "base.html" %}
{% load static %}

{% block content %}
	<div class="wrapper">
    <!-- Sidebar -->
	    <nav id="sidebar">
	        <div class="sidebar-header">
	            <h4>DEKODING</h4>
	        </div>

	        <ul class="list-unstyled components">
	            <li>
	                <a href="/dog/list">Dog List</a>
	            </li>
	            <li>
	                <a href="/dog/add">Add Dog</a>
	            </li>
	            
	            <li>
	                <a href="#">Owner List</a>
	            </li>
	            <li>
	                <a href="#">Add Owner</a>
	            </li>
	        </ul>

	    </nav>

	
	<div id="content">
		
    </div>
	</div>
	
{% endblock %}