{% extends "base.html" %}
{% load static %}

{% block content %}
  <div id="carousel" class="carousel slide" data-ride="carousel">
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	      <img id="logo" class="d-block w-50" src="/static/images/logo.png">
	    </div>
	    <div class="carousel-item">
    	  <div id="first" class="row">
		    <div id="d_letter" class="col-sm deko">
		    	D
		    </div>
		    <div id="e_letter" class="col-sm deko">
		      	E
		    </div>
		    <div id="k_letter" class="col-sm deko">
		     	K
		    </div>
		  </div>
		  <div id="second" class="row deko">
		  	<div class="col-sm deko">
		     	ODING
		    </div>
		  </div>
	    </div>
	    <div id="third" class="carousel-item">
	    	<div class="row w-100 h-50">
	    	</div>
	    	<div class="row">
	    		<div class="col h-100">
	    			
	    		</div>
	    		<div class="col">
	    			<div class="container">
	    				<div id="panel" class="card">
						  <div class="card-body">
						    <h2 class="card-title text-center">DEKODING</h2>
						  </div>
						</div>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
						  Buscar
						</button>
	    			</div>
	    				
	    		</div>
	    		
	    	</div>
	    </div>
	  </div>
	  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>

	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Title</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        Content Content
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" id="bt_close">Close</button>
	        <button type="button" class="btn btn-primary" id="bt_submit">Submit</button>
	      </div>
	    </div>
	  </div>
	</div>
{% endblock %}