{% extends "base.html" %}
{% load static %}

{% block content %}
	<div class="wrapper">
    <!-- Sidebar -->
	    <nav id="sidebar">
	        <div class="sidebar-header">
	            <h4>DEKODING</h4>
	        </div>

	        <ul class="list-unstyled components">
	            <li>
	                <a href="/dog/list">Dog List</a>
	            </li>
	            <li>
	                <a href="/dog/add">Add Dog</a>
	            </li>
	            
	            <li>
	                <a href="#">Owner List</a>
	            </li>
	            <li>
	                <a href="#">Add Owner</a>
	            </li>
	        </ul>

	    </nav>

	
	<div id="content">
		<div class="container">
			<div id="add_dog" class="card">
			  <div class="card-header">
			    <h2 class="card-title text-left">Add Dog</h2>
			  </div>
			  <div class="card-body">
			    <form method="post">{% csrf_token %}
				  <div class="form-row">
				  	<div class="form-group col-md-6">
				  		<input type="text" class="form-control" name="d_name" id="dog_name" placeholder="Name">	
				  	</div>
				    
				  </div>
				  <div class="form-row">
				  	<div class="form-group col-md-4">
				  		<input type="text" class="form-control" name="d_breed" id="dog_breed" placeholder="Breed">	
				  	</div>
				  	<div class="form-group col-md-4">
				  		<input type="text" class="form-control" name="d_age" id="dog_age" placeholder="Age">	
				  	</div>
				  	<div class="form-group col-md-4">
				  		<input type="text" class="form-control" name="d_owner" id="dog_owner" placeholder="Owner">	
				  	</div>
				  </div>
				  
				  <button type="submit" class="btn btn-primary">SAVE DOG</button>
				</form>
			  </div>
			</div>
		</div>		

    </div>
	</div>
	
{% endblock %}