{% extends "base.html" %}
{% load static %}

{% block content %}
	<div class="wrapper">
    <!-- Sidebar -->
	    <nav id="sidebar">
	        <div class="sidebar-header">
	            <h4>DEKODING</h4>
	        </div>

	        <ul class="list-unstyled components">
	            <li>
	                <a href="/dog/list">Dog List</a>
	            </li>
	            <li>
	                <a href="/dog/add">Add Dog</a>
	            </li>
	            
	            <li>
	                <a href="#">Owner List</a>
	            </li>
	            <li>
	                <a href="#">Add Owner</a>
	            </li>
	        </ul>

	    </nav>

	
	<div id="content">
		<div class="container">
			<div id="dog_list" class="card">
			  <div class="card-header">
			    <h2 class="card-title text-left">Dog List</h2>
			  </div>
			  <div class="card-body">
			    <table class="table">
				  <thead>
				    <tr>
				      <th scope="col">Name</th>
				      <th scope="col">Age</th>
				      <th scope="col">Breed</th>
				      <th scope="col">Owner</th>
				    </tr>
				  </thead>
				  <tbody>
				  	{% for dog in dogs %}
					  	<tr>
					      <td>{{dog.d_name}}</td>
					      <td>{{dog.d_age}}</td>
					      <td>{{dog.d_breed}}</td>
					      <td>{{dog.d_owner}}</td>
					    </tr>
				    {% endfor %}
				    
				    
				  </tbody>
				</table>
			  </div>
			</div>
		</div>
		

    </div>
	</div>
	
{% endblock %}